@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    /* @apply border-border; */
  }
  body {
    @apply bg-background text-foreground;
  }
  @font-face {
    font-family: 'Silk-Serif';
    src: url('/silk/Silk-Serif-ExtraLight.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
  }

  @font-face {
    font-family: 'Silk-Serif';
    src: url('/silk/Silk-Serif-ExtraLight-Italic.otf') format('opentype');
    font-weight: 200;
    font-style: italic;
  }

  @font-face {
    font-family: 'Silk-Serif';
    src: url('/silk/Silk-Serif-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: 'Silk-Serif';
    src: url('/silk/Silk-Serif-Light-Italic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
  }

  @font-face {
    font-family: 'Silk-Serif';
    src: url('/silk/Silk-Serif-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Silk-Serif';
    src: url('/silk/Silk-Serif-Regulalr-Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
  }

  @font-face {
    font-family: 'Silk-Serif';
    src: url('/silk/Silk-Serif-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: 'Silk-Serif';
    src: url('/silk/Silk-Serif-Medium-Italic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
  }

  @font-face {
    font-family: 'Silk-Serif';
    src: url('/silk/Silk-Serif-Bold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
  }

  @font-face {
    font-family: 'Silk-Serif';
    src: url('/silk/Silk-Serif-Bold-Italic.otf') format('opentype');
    font-weight: 800;
    font-style: italic;
  }
  @font-face {
    font-family: 'Silk-Serif';
    src: url('/silk/Silk-Serif-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: 'Silk-Serif';
    src: url('/silk/Silk-Serif-Bold-Italic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
  }

  @font-face {
    font-family: 'Silk-Serif';
    src: url('/silk/Silk-Serif-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
  }

  @font-face {
    font-family: 'Silk-Serif';
    src: url('/silk/Silk-Serif-SemiBold-Italic.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
  }

  @font-face {
    font-family: 'Silk-Serif';
    src: url('/silk/Silk-Serif-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
  }

  @font-face {
    font-family: 'Silk-Serif';
    src: url('/silk/Silk-Serif-Black-Italic.otf') format('opentype');
    font-weight: 900;
    font-style: italic;
  }
}

.padding-main {
  @apply md:px-8 lg:px-16 xl:px-24 2xl:px-32 px-4;
}

.padding-main-large {
  @apply md:px-16 lg:px-24 xl:px-32 2xl:px-40 px-8;
}

.title-size {
  @apply md:text-5xl lg:text-6xl xl:text-7xl 2xl:text-8xl text-4xl;
}

.h1-size {
  @apply md:text-3xl lg:text-4xl xl:text-5xl 2xl:text-6xl text-2xl;
}

.h2-size {
  @apply md:text-2xl lg:text-3xl xl:text-4xl 2xl:text-5xl text-xl;
}

.h3-size {
  @apply md:text-xl lg:text-2xl xl:text-3xl 2xl:text-4xl text-lg;
}

.h4-size {
  @apply md:text-lg lg:text-xl xl:text-2xl 2xl:text-3xl text-base;
}

.p-size {
  @apply md:text-base lg:text-lg xl:text-xl 2xl:text-2xl text-sm;
}

.width-frame {
  @apply w-[130px] md:w-[170px] lg:w-[220px] xl:w-[240px] 2xl:w-[280px];
}

/* bundle styles */
.bundle form,
.bundle form button {
  @apply w-full;
}

/* page styles */

.native {
  @apply padding-main flex flex-col items-center w-full py-4;
}

.native h1:not(.article h1) {
  @apply h1-size font-silk text-brown;
}

.native h4:not(.article h4) {
  @apply p-size font-silk text-brown border-sand pt-2 border-t;
}

.native .child {
  @apply w-full;
}

.native a:not(.article a) {
  @apply text-brown font-silk;
}

.native .article {
  @apply text-start text-dark w-full;
}

/* search styles */

.predictive-search-result {
  @apply py-2;
}

.predictive-search-result ul {
  @apply flex flex-col;
}

.predictive-search-result img {
  @apply mb-2;
}

.predictive-search-result h5 {
  @apply font-silk text-green text-xl uppercase;
}

.predictive-search-result-item a {
  @apply flex flex-row gap-2 cursor-pointer;
}

.predictive-search-result-item p {
  @apply font-silk text-brown text-base;
}

.predictive-search-result-item small div {
  @apply text-sm font-light;
}

.predictive-search-result-item a div span {
  @apply text-brown text-base font-light;
}
